<div class="form-container">
    <h2> Edit Services </h2>
    <div id="service-list" style="margin-top: 10px;">
      <app-user-service *ngFor="let us of userServices" [userService]="us"></app-user-service>
    </div>
    <div class="add-service" style="display: inline-flex; margin-top: 10px;">
      <select class="service-select" [(ngModel)]="service" (ngModelChange)="handleServiceChange($event)" >
        <option disabled value=null> select service </option>
        <option *ngFor="let service of services" value={{service.id}}>{{service.service}}</option>
      </select>
      $ <input type="number" placeholder="fee" class="fee" [(ngModel)]="fee" (ngModelChange)="handleFeeChange($event)"/> 
      <input type="number" placeholder="days" class="duration" [(ngModel)]="duration" (ngModelChange)="handleDurationChange($event)"/>
      <fa-icon [icon]="faPlus" (click)="addService()"></fa-icon>
    </div>
</div>
    