.back-button {
    margin-top: 1%;
    margin-left: 1%;
}
.back-arrow {
    width: 50px;
}

.avatar-div {
    /* display: inline; */
    width: 100%;
    text-align: center;
    font-size: larger;
    font-weight: 600;

}
.avatar {
    width: 220px;
    height: 220px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.edit-name-div {
    margin-left: 30%;
    margin-right: 30%;
}

.div-buttons-layer-one {
    
    margin-top: 10%;
    display: flex;
}
.div-buttons-layer-two {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
}
.bootstrap-button-div {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button.btn.btn-primary {
    width: 280px;
    height: 120px;
    font-size: larger;
}


.profile-footer {
    display: flex;
    position: flex;
    bottom: 0;
    height: 80px;
    background-color: dodgerblue;
    text-align: center;
    color: white;
}

.edit-photo-popup{
    position: relative;
    text-align: center;
    width: 100%;
}
.edit-name-popup {
    position: relative;
    text-align: center;
    width: 100%;
}
.edit-service-popup {
    position: relative;
    text-align: center;
    width: 100%;
}
.new-img{
    vertical-align: center;
    height: 220px;
    width: 220px;
    display: none;
    border-radius: 50%;
}

div#popup-form{
    background-color: white;
}

.form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
}

.form-container{ 
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
}

.close-popup-form-x{
    width: 30px;
    float: right;
}


/* loader configurations */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }