body {
    background-color: white;
}
.banner{
    text-align: left;
    font-size: 50px;
    margin-top: 5%;
    margin-left: 5%;
}
.avatar {
    width: 100px;
    height: 100px;
    align-items: center;
}

