<!-- document.getElementById("settings-popup").style.display = "block"

const first_name = document.querySelector("#first_name").innerHTML
const last_name = document.querySelector("#last_name").innerHTML

const avatar = document.querySelector("#avatar") -->


<div class="form-container">
    <h2>Edit Account</h2>

    <h4>Edit Avatar</h4>
    
    <div class="uploaded-image" id="uploaded-image">
        <div class="loader" id="avatar-loader"></div>
        <img src="" alt="" id="new-img" class="new-img">
    </div>
    Select Image: 
    
    <input type="file" id="edit-photo-img" name="img" accept="image/*" required>
    
    <h4>Edit Name </h4>
    
    First Name:

    <input type="text" id="edited-first-name" value="${first_name}" required>

    Last Name:

    <input type="text" id="edited-last-name" value="${last_name}" required>

    <Button type="submit" id="name-edit-btn" class="name-edit-btn" onClick="handleAccountChange()"> Make Change </Button>
</div>

<!-- const new_img = document.querySelector("#new-img")
const avatar_input = document.querySelector("#edit-photo-img")

avatar_input.addEventListener( "change", () => {displayNewAvatar(avatar_input, new_img)}) -->
