<div class="form-container">
    <h2>Edit Account</h2>

    <h4>Edit Avatar</h4>
    
    <div class="uploaded-image" id="uploaded-image">
        <div class="loader" id="avatar-loader"></div>
        <img [src]=" '../../../../assets/images/' + user.avatar " alt="" id="new-img" class="new-img">
    </div>
    Select Image: 
    
    <input #avatar type="file" id="edit-photo-img" name="img" accept="image/*" (change)="processAvatar(avatar)" required>
    
    <h4>Edit Name </h4>
    
    First Name: <input type="text" id="edited-first-name" placeholder="{{firstName}}" [(ngModel)]="firstName" (ngModelChange)="handleFirstNameChange($event)" required> <br> <br>

    Last Name: <input type="text" id="edited-last-name" [(ngModel)]="lastName" (ngModelChange)="handleLastNameChange($event)" required> <br> <br>

    <Button type="submit" id="name-edit-btn" class="name-edit-btn" onClick="handleAccountChange()"> Make Change </Button>
</div>
