<!Doctype HTML>
<html>
    <head id="">
    </head>

    <body class=dashboard-body>

        <nav class="user-nav">
            <button>Transactions</button>
            <button >Community</button> 
            <button >Messages</button>
            <button >Settings</button>
        </nav>  

        <h1 class="banner">Market</h1>

        <div class="profile">
            <div class="avatar-div">
                <img class="avatar" alt="avatar" id="avatar" [src]=" '../../../assets/images/' + user.avatar ">
                <p id="first_name" class="first_name" title="">{{user.firstName}}</p>
                <p id="last_name" class="last_name"> {{ user.lastName}}</p>
            </div>
        </div>
        <div class="body-wrapper">

            <app-requests [requests]="dashboard.requests"></app-requests> 
                
            <app-feedback [feedback]="dashboard.feedback"></app-feedback>

        </div>
    </body>
</html>