.dashboard-body 
    margin-top: 2%
    background-color: white

.user-nav 
    margin-left: 2%
    display: inline
    overflow: hidden

/* Style the links inside the navigation bar */
.user-nav a 
    float: right
    color: white
    text-align: center
    padding: 14px 16px
    text-decoration: none
    font-size: 18px
    background-color: dodgerblue
    margin-left: 2px
    border-radius: 5%

.user-nav a:hover 
    background-color: skyblue
    color: white
  

.banner
    text-align: center
    font-size: 50px
    margin-top: 2%
    font-size: xx-large
    font-family: Arial, Helvetica, sans-serif
    font-style: normal
    font-weight: 800


.dashboard-title 
    display: flex
    text-align: center
    font-size: larger

.user-title 
    width: 50%

.community-title 
    width: 50%


.profile
    /* display: flex */
    width: 100%

.avatar-div 
    /* display: inline */
    width: 100%
    text-align: center
    font-size: larger
    font-weight: 600
    

.avatar 
    width: 220px
    height: 220px
    margin-left: auto
    margin-right: auto
    border-radius: 50%
  
.body-wrapper
    display: flex

    .requests 
        float: left
        width: 50%
        text-align: center
        // margin-left: 20%

    .feedback 
        float: right
        width: 50%
        text-align: center
        
        // margin-right: 20%
        
    