<app-navigator></app-navigator> 

<div class="profile"> 

    <h2>SETTINGS</h2> 
    <div class="loader" id="profile-loader"></div>
    <img class="avatar" alt="avatar" id="avatar" [src]=" '../../../assets/images/' + user.avatar ">
    <div class="edit-name-div">
        <p id="first_name" class="first_name">{{user.firstName}}</p>
        <p id="last_name" class="last_name">{{user.lastName}}</p>
    </div>
</div>


        <!-- GENERIC POP-UP -->
<div class="settings-popup" id="settings-popup" [ngStyle]="{display: display}">
    <fa-icon class="close-popup-form-x" [icon]="faTimes" (click)="closePopup()"></fa-icon>
    <div id="popup-view">
        <app-account [ngStyle]="{display: accountDisplay}" [user]="user"></app-account>
        <app-services [ngStyle]="{display: servicesDisplay }" ></app-services>
    </div>
</div>

<div class="button-layer">
    <Button type="button" (click)="editAccount()"> ACCOUNT </Button>
    <Button type="button"id="services-button" (click)="editServices()">SERVICES </Button>
    <Button type="button" (click)="viewHistory()"> HISTORY </Button>
</div>

<div class="button-layer">
    <Button type="button" (click)="viewActivity()"> ACTIVITY </Button>
    <Button type="button" (click)="viewRules()"> RULES </Button>
    <Button type="button" (click)="openContactUs()"> CONTACT US </Button>
</div>
